.songRow:hover {
    background-color: darkgray;
}
#libraryHeader, #find-similar-header {
    border-bottom: 2px solid greenyellow;
}
.playing {
    background-color: darkgray;
}

#library{
    bottom: 55px;
}

#library-body {
    height: 100%;
    position: relative;
    float: left;
    overflow: auto;
}
