#library {
    width: 100%;
    margin-top: 30px;
    display: block;
}
#library-body {
    height:558px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

table {
    width: 100%;
    table-layout: fixed;
}

table tr {
    height: 1em;
}

td {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playing {
    background-color: #A8A8A8;
}
.playButtonCell {
    width: 50px;
    text-align: center;
}

.deleteButtonCell {
    width: 75px;
    text-align: center;
}

.trackCell {
    text-align: center;
}

.durationCell {
    text-align: center;
}