[ng-click] {
    cursor: pointer;
}

[ng-dblclick] {
    cursor: pointer;
}

.hide-element {
    display: none;
}

html {
    font-size: 14px;
}

body {
    height: 100%;
}

input[type="text"] {
    background-color: #2e2e2e;
}

input {
    color: silver;
}

#now-playing {
    min-height: calc(~"100vh - 150px");
}
