<div class="">
    <div class="col col-12 clearfix silver rounded px1" id="find-similar">
        <div class="col col-12 bg-lighten-2" id="find-similar-header">
            <div class="h4">
                <div class="col col-8 px1">
                    Artist-Song
                </div>
                <div class="col col-2">
                    Link
                </div>
                <div class="col col-2">
                    Preview
                </div>
            </div>
        </div>
        <div class="col col-12 bg-lighten-2 px1">
            <div class="clearfix white border-bottom py1" ng-repeat="artist in similar">
                <div class="col col-8 truncate silver">
                    {{artist.artists[0].name}} - {{artist.name}} 
                </div>
                <div class="col col-2 silver">
                    <a href={{artist.links.what}} target="_blank"><i class="fa fa-bolt lime"></i></a>
                    <a href="{{artist.links.youTube}}" target="_blank"><i class="fa fa-youtube lime"></i></a>
                    <a href="{{artist.links.spotify}}" target="_blank"><i class="fa fa-spotify lime"></i></a>
                </div> 
                <div class="col col-2 silver">
                    <audio-sample artist="artist"></audio-sample>
                </div>
            </div>
        </div>
        <div class="col col-12 bg-lighten-2 center" ng-hide="authorized">
            <div class="p2 m2">
                Please login in with Spotify to see recommendations
            </div>
            <button class="btn btn-outline lime mt1 mb1" 
                ng-click="spotifyAuth()">
                Login with Spotify
            </button>
        </div>
        <div class="col col-12 bg-lighten-2 center" ng-show="authorized">
            <button class="btn btn-outline lime mt1 mb1" ng-click="getSimilarArtists(song)">Find Similar</button>
        </div>
    </div>
</div>
