<div class="col col-3 absolute right-0">
    <div class="col col-12 clearfix silver rounded px1" id="find-similar">
        <div class="col col-12 bg-lighten-2" id="find-similar-header">
            <div class="h4">
                <div class="col col-9 px1">
                    Artist
                </div>
                <div class="col col-3">
                    Link
                </div>
            </div>
        </div>
        <div class="col col-12 bg-lighten-2 px1">
            <div class="clearfix white border-bottom py1" ng-repeat="artist in similar">
                <div class="col col-9 truncate silver">
                    {{artist.name}}
                </div>
                <div class="col col-3 px1 silver">
                    <a href={{artist.links.what}} target="_blank"><i class="fa fa-bolt px1 lime"></i></a>
                    <a href="{{artist.links.youTube}}" target="_blank"><i class="fa fa-youtube lime"></i></a>
                    <a href="{{artist.links.spotify}}" target="_blank"><i class="fa fa-spotify px1 lime"></i></a>
                </div>
            </div>
        </div>
        <div class="col col-12 bg-lighten-2 center">
            <button class="btn btn-outline lime mt1 mb1" ng-click="getSimilarArtists(song)">Find Similar</button>
        </div>
    </div>
</div>